# ==============================================================================
# Project:  FunsapeSTM32Lib
# ==============================================================================

# ------------------------------------------------------------------------------
# Directories ------------------------------------------------------------------

# Hidden directories
_hide/

# ------------------------------------------------------------------------------
# Files -----------------------------------------------------------------------

# Compilation debris
*.d
*.lst
*.o
*.map

# STM32CubeMX debris
.mxproject
